BasedOnStyle: LLVM

# =========================
# INDENTATION
# =========================
IndentWidth: 4
TabWidth: 4
UseTab: Never

ContinuationIndentWidth: 4

# =========================
# ACCOLADES
# =========================
BreakBeforeBraces: Attach

# =========================
# NAMESPACE / STRUCTURE C++
# =========================
NamespaceIndentation: All   

AccessModifierOffset: -4    # public / private / protected légèrement décalés

IndentAccessModifiers: false

# =========================
# IF / ELSE / CONTROL FLOW
# =========================
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: false

# =========================
# PREPROCESSOR (le point que tu veux)
# =========================

# Indente les directives #if / #else / #endif proprement
IndentPPDirectives: AfterHash

# Indente le contenu dans les blocs de macro conditionnelles
MacroBlockBegin: "^#if"
MacroBlockEnd: "^#endif"

# =========================
# STYLE GÉNÉRAL
# =========================
ColumnLimit: 120

SortIncludes: false
ReflowComments: true
